@import url('./fonts.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
   
}

.block{
max-width:1440px ;
}

.wrap{
    display: flex;
}


.fisrt-wrap{
     display: flex;
    flex-direction: row; 
   
   justify-content: space-between;
}


.first-block{
    padding-top: 56px;
   padding-bottom: 35px;
    background: 
    url(../images/Shade.png) repeat-x center bottom,
    url(../images/symbol.svg) no-repeat center bottom,
    url(../images/pattern2.svg) no-repeat center bottom,
   
    linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%) 
    ;
   max-width: 1440px;
}

.item{
    /* display: inline-block; */
}

.header-logo{
    /* display: inline-block; */
}

.header-languages{
    /* margin-left: 550px; */
   
}

.other-items{
    display: flex;
   
   justify-content: space-between;
}

.header-adress{
    margin-left: 22px;
    color: white;
}

.dot{
    margin-left: 13px;
}

.header-phone{
    margin-left: 32px;
}


.dot2{
    margin-left: 10px;
}

.facebook-logo{
    margin-left: 10px;
}


.menu{
   
    margin-top: 19px;
}


.menu-item{
    display: inline-block; 
    margin-left: 15px;
   
   
}

.first-block_text{
margin-top: 240px;
text-align: center;

}

.first-block_text h1{
    color: white;
    font: size 38px;   
    /* font-weight: ; */
}

.scroll{
    margin-top: 290px;
    text-align: center;
}



.second-block{
    background:  linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) ;
  padding-bottom: 80px;
    max-width: 1440px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
position: relative;
  
}

.first-section{
    position: relative;

}

.first-section::before{
    content:'';
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    background: url(../images/Bg.png) no-repeat center;
    background-size: 98%;
}

.first-section::after{
    content:'';
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 10px;
    background: url(../images/bg-light.png) no-repeat center;
    background-size: 95%;
}




.lawyers{
    margin-left: 100px; 
    margin-top: 80px;
}

.second-block_wrap{
    display: flex; 
    flex-direction: column;
    align-items: end;
   
     /* max-width: 550px;   */
}
   


   



.stick{
    margin-left: 40px;  
    margin-top: 80px;
}


.law-services{
    margin-left: 40px;
    margin-top: 130px;
}

.second-block_block{
    display: flex;
    align-items: flex-start;
}

.law-services_heading h2{
    color: white;
}

.law-services_text{
    margin-top: 20px;
}

.law-services_text p{
color: white;
}

.services-image_andvector{
    margin-top: 80px;
}

.services-image{
display: inline-block;
}



.servives-vector{
    display: inline-block;
}

.whatwecando{
    margin-top: 3px;
}





.squares-wrap{
    display: flex;
    flex-direction: row;
}

.individual-squares_wrap{
    display: flex;
    flex-direction: column;
}

.individual-squares_block{
    margin-top: 68px;
}


.squares-heading{
    margin-top: 20px;
}

.squares-heading h3{
    color: #24A3FF;
}

.squares-text{
    margin-top: 15px;
    
}

.squares-text p{
color: white;

}

.individual-squares_block{
    margin-left: 40px;
}

.first-individual{
    margin-left: 0;
}


.clients-block{
    margin-top: 50px;
}

.clients-item{
    width: 25%;
}
.clients-item img{
    width: 100%;
}
.clients-wrap{
    display: flex;
    flex-wrap: wrap;


}




footer{
    padding: 30px 0 40px 0;
    background: #E5E5E5;
}
.footer-block2{
    margin-top: 30px;
}

.footer-wrap1{
display: flex;
justify-content: space-between;

}


.footer-wrap2{
display: flex;
flex-direction: row;

}


.footer-dot1{
    margin-left: 31px; 
    display: inline-block;
}

.map{
    margin-left: 10px;
    display: inline-block;
}

.adress{
    display: inline-block;
}

.footer-2021{
    /* margin-left: 520px; */
}


.footer-dot2{
    margin-left: 10px;
   
}

.footer-phone{
    margin-left: 32px;
    
}

.footer-phone a{
    color: #46466E;
}

.footer-dot3{
    margin-left: 10px;
}

.email{
    margin-left: 10px;
   
}

.email a{
    color: #24A3FF;
}


.item-wrap{
    display: flex;
    background: #F5F5FA;
    border-radius: 25px;
}

.carousel{
    margin-top: 61px;
}



.carousel-comand p{
    display: inline-block;
}
.carousel-comand img{
    display: inline-block;
}


.carousel-text{
    margin-left: 40px;
}





--------------------------------------------------





.about-header{
    padding: 51px 0 0 0;

}

.about-adress p{
    color: #B3B3BA;
}

.about-phone a{
    color: #B3B3BA;
}

.about-menu_first a{
    color:#F0145A ;
}

.about-menu a{
    color:#24A3FF;
}

.about-lawyers_heading h3{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 42px;
}

.about-lawyers_text p{
    font-size: 21px;
}

.about-2_wrap{
    align-items: start;
}

.about-law_services{
    margin-top: 82px;
}
.about-lawyers_heading{
    margin-left: 0;
}



.pic-section{
background: url(../images/about-big.png);
padding: 162px 0 162px 0;
margin-top: 100px;
}
 
.about-team-text{
text-align: center;

}



.about-team-text p{
    font-size: 
    96px;
    color: white;
    letter-spacing: 63px;
text-transform: uppercase;
text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
}

.about-third_section{
    padding: 80px 0 83px 0;
}


.about-3_text{ 
    margin-left: 100px;
}
.about-3_text p{
    font-size: 21px;
    color: black;
}

.about-3_heading{
margin-left: 40px;
}

.about-3_heading h3{
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-size: 42px;
}

.about-achivements_section{
    background: #F5F5FA;
border-radius: 12px 12px 0px 0px;
padding: 28px 60px 30px 60px;
}
.achievements-heading{
    text-align: center;
}
.achievements-wrap{
justify-content: space-around;
}