* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.first-block{
    height: 800px;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%)
    
    ;
}